.background {
    background: url("../images/indigenous_art.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

.content-title,
.content-board-of-directors {
    color: rgb(31, 27, 27);
    font-weight: bold;
}

.content-titles__div {
    background: rgba(242, 238, 231, 0.80);
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.flex-container-employee__info_box {
    background: rgba(221, 216, 209, 0.9);
}

.content-title {
    font-size: 40px;
    color: #151313;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid gray;
}

#aboutus-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

#aboutus-content p {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-container-employee__info_box {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.content-board-of-directors {
    text-align: center;
    padding: 10px;
}
.flex-container__Employees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.content-board-of-directors {
    font-size: 35px;
    color: #151313;
    padding: 0;
    margin: 0;
}

.content-employee__image {
    height: 180px;
    width: 150px;
    border-radius: 30px;
}

.content-employee__name {
    font-size: 30px;
    color: #151313;
    padding: 0;
    margin: 0;
    text-align: center;
}

.content-employee__position {
    font-size: 20px;
    color: #151313;
    padding: 0;
    margin: 0;
    text-align: center;
}







@media(min-width:768px){

.background {
    background: url("../images/indigenous_art.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.content-title,
.content-board-of-directors {
    color: rgb(31, 27, 27);
    font-weight: bold;
}

.content-titles__div {
    background: rgba(242, 238, 231, 0.80);
    padding: 0;
    margin: 0;
    border-radius: 50px;
}

.flex-container-employee__info_box {
    background: rgba(221, 216, 209, 0.9);
}

.flex-container__Employees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    align-items: flex-start;
}


.flex-container-employee__info_box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 720px;
    height: 300px;
    border: 1px solid #AAABB8;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.flex-container-employee__info {
    width: 250px;
}

.flex-container-employee__report {
    margin: 0 40px;
}

.flex-container-employee__report p {
    padding: 5px;
    margin: 0;
    width: 420px;
}

.content-board-of-directors {
    align-content: center;
}

}








@media (min-width: 1024px) {

.background {
    background: url("../images/indigenous_art.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.content-title,
.content-board-of-directors {
    color: rgb(31, 27, 27);
    font-weight: bold;
}

.content-titles__div {
    background: rgba(242, 238, 231, 0.80);
    padding: 0;
    margin: 0;
    border-radius: 50px;
}

.flex-container-employee__info_box {
    background: rgba(221, 216, 209, 0.9);
}

.flex-container__Employees {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
