/* #legalservice-content {
    margin: 10px;
    padding: 50px;
    height: 400px;
    text-align:left;
}

.legalservice-content__header {
    text-align: center;
    padding: 100px;
}
footer{
    margin-top:auto;
} */
