@import url(https://fonts.googleapis.com/css?family=Lato);
/*@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);*/

* {
    box-sizing: border-box;
}

.imagedisplay__title {

}

h2{
    color: #7D1301;
}
h3{
    color: #7D1301;
}
.imagedisplay__title{
/*    background-color: rgba(122, 12, 1, 0.6);*/
    padding:5px;
    font-family: 'Roboto Slab', serif;
    padding: 0px;
    margin: 12px;
    color: #ececec;
    font-weight: bold;
    font-size: 25px;
    bottom: 0;
    position: absolute; 
}

.background {
    background: url("../images/indigenous_art.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

.column-3 img{
    max-width:100%;
}

.row{
    background: rgba(221, 216, 209, 0.9);
    border: 1px solid #AAABB8;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    clear:both;
    margin-bottom: 20px;
    padding:10px;
}

.content__header{
    margin-left:30px;
    color: rgb(31, 27, 27);
    font-weight: bold;
    background: rgba(242, 238, 231, 0.80);
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: #101010;
    font-weight: bold;
    padding-left: 40px;
    margin: 0;
    border-bottom: 1px solid #AAABB8;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto Slab', serif;
    margin: 0;

    background-color: #e1e1e1;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    width: 100%;
    background: #373737;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 1.6px;
    background: white;
    display: block;
    margin: 0.4rem 0;
}

.main-header__brand {
    color: #ececec;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 22px;
    height: 22px;
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
    position: relative;
    top: 2px;
}

.main-nav {
    display: none;
}


.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #ececec;
    padding: 3px 0;
}

#content__freecall {
    color: #984b43;
    padding: 10px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #659dbd;  
    border-bottom: 3px solid #659dbd;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a:active {
    color: white;
    background: #3583af;
    padding: 8px 16px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:active {
    color: #3583af;
    background: #bc986a;
    border-bottom: none;
    width: 250px;
}

.main-nav__item--cta,
.mobile-nav__item--cta {
    border-bottom: 3px solid #659dbd
}

.main-footer {
    background: #373737;
    padding: 10px;
    margin-top:auto;
    
}

.main-footer__title {
    color: #AAABB8;
}

.main-footer__description {
    color: #ececec;
}

.main-footer__list {
    list-style: none;
    color: #ececec;
    width: 250px;
}

.main-footer__list a {
    text-decoration: none;
    color: #ececec;
}

.main-footer__list3 a {
    text-decoration: none;
    color: #AAABB8;
}

.sec-three__lists {
    text-align: center;
}

.sec-three__lists li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.sec-three__lists,
.sec-two__lists {
    padding: 0;
}

    .Blog {
        background-color:rgba(251, 143, 61, 0.3);
    }

    .Facebook {
        background-color:rgba(59, 89, 152,0.3);
    }

    .Google {
        background-color:rgba(221, 75, 57,0.3);
    }

    .RSS {
        background-color:rgba(255, 153, 0,0.3);
    }

    .Twitter {
        background-color:rgba(0, 172, 237,0.3);
    }

    .YouTube {
        background-color:rgba(187, 0, 0,0.3);
    }

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #17252a;
  width: 250px;
  height: 700px;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: left;
}

.mobile-nav__item {
  margin: 16px 0;
  border-bottom: 2px solid white;
}

.mobile-nav__item a {
  font-size: 24px;
}

.contentMoreLink{
    font-weight: bold;
    font-size: 1.1em;
    color:#7A1501;
}

.contentMoreLink:hover{
    background-color:#7A1501;
    color:#fff;
}

.clearfix{
    clear:both;
    height: 1px;
}


@media(min-width:768px){

/* Fluid Layout */
.row{
    width:100%;
}

.column-3{
    width:25%;
}

.column-6{
    width:50%;
}

.column-3 img{
    max-width:100%;
}

.column-9{
    width:75%;
}


.column-right{
    padding-left: 10px;
    float:right;
}

.column-left{
    padding-right: 10px;
    float:left;
}

footer{
    clear:both;
}


.toggle-button {
    display: none;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 110px);
    vertical-align: middle;
}

.flex-main-footer__sections {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    width: 100%;
    padding: 0;
}
/*
    .sec-one{
        min-width: 33%;
    }
*/

.sec-three__lists li {
    padding: 10;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
    width: 33%;
}

.flex-main-footer__section {
    font-size: 10px;
    flex-direction: column;
      font-size: 16px;
    font-family: sans-serif;
    width: 33%;
}

.main-footer__title {
    padding-left: 10px;
    padding-right: 10px;
}

.sec-three__lists {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-footer__description {
    padding-left: 10px;
}

}

@media (min-width: 1024px) {

.toggle-button {
    display: none;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 110px);
    vertical-align: middle;
}



.flex-main-footer__sections {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin-top:auto;
    
}

.main-footer__lists {
    padding: 0;
    margin: 0;
    width: 300px;
    text-align: left;

    
}

.main-footer__list3 {
    
    display: inline-block;
    
    text-align: center;
}

.sec-three__lists li {
    padding: 10;
    margin: 2px;
    cursor: pointer;
  
}

.main-footer__title{
    padding-left: 40px;
    padding-right: 40px;
}
.main-footer__description {
    padding-left: 40px;
    padding-right: 40px;
}
/*    On hover---------------------------------*/
    .Blog:hover{
        background-color: #D17233;
    }
        
    
    .Facebook:hover{
        background-color:#3b5998;
    }
    
    .Google:hover{
        background-color: #d34836;
    }
    .RSS:hover{
        background-color: #FC8A44;
        opacity: 0.7;
    }
    .Twitter:hover{
        background-color: #0084b4;
    }
    .YouTube:hover{
        background-color: #922320;
    }

.imagedisplay {
    background: url("../images/tennant-ck-naaja.jpg") center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 200px;
    padding: 16px;
}
/*--------------------------------------------s*/

    
