<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/naaja-icon.png">
    <title>North Australian Aboriginal Justice Agency (NAAJA)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/shared.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/AboutUs.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/main.css" />
<!--    <link type="text/css" rel="stylesheet" href="path-to-fontawesome/font-awesome.css">-->

</head>


<body>
    <div class="background"></div>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <div class="brand">
            <a href="../index.html" class="main-header__brand">
                <img src="../images/naaja-icon.png" alt="NAAJA"> NAAJA
            </a>
        </div>

        <!--NAVIGATION-->
        <!-- DESKTOP NAV -------------------------------------->
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="../Templates/LegalService.html">Legal Service</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/Programs.html">Programs</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/GetInvolved.html">Get Involved</a>
                </li>
                <li class="main-nav__item">
                    <a href="AboutUs.html" class="main-nav__item--cta">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- MOBILE NAV ------------------------------------------------->
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="../Templates/LegalService.html">Legal Service</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/Programs.html">Programs</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/GetInvolved.html">Get Involved</a>
            </li>
            <li class="mobile-nav__item">
                <a href="AboutUs.html" class="mobile-nav__item--cta">About Us</a>
            </li>
        </ul>
    </nav>


   <section class="imagedisplay">
        <div>
            <h1 class="imagedisplay__title">
                North Australian Aboriginal Justice Agency
            </h1>
        </div>
    </section>
<!--    </main>-->
        <main id="aboutus-content">
        <h1 class="content__header">About Us</h1>
        <!-- THIS IS WHERE CONTENTS ADDED FOR THE OTHER PAGES INSIDE MAIN -->
        <section>
            <div class="flex-container__Employees">

                <div class="flex-container-employee__info_box">
                    <div class="flex-container-employee__info_img">
                        <img src="../images/Priscilla-Atkins-01-222x300.jpg" alt="Priscilla Atkins" class="content-employee__image">
                    </div>
                    <div class="flex-container-employee__info">
                        <h1 class="content-employee__name">Priscilla Atkins</h1>
                        <h2 class="content-employee__position">Chief Executive Officer</h2>
                    </div>
                    <div class="flex-container-employee__report">
                        <p>NAAJA is respected for providing highly professional, culturally appropriate, innovative and effective legal and justice-related
                            services.
                        </p>
                        <p>NAAJA is also a leader in law and justice for the rights of Aboriginal people and enjoys constructive relationships with
                            stakeholders.
                        </p>
                        <p>We are privileged to have very experienced lawyers and talented staff working for NAAJA. Together we ensure that our clients
                            are provided with culturally competent legal services and that the systemic issues facing Aboriginal people are tackled.</p>
                    </div>
                </div>
                <div class="content-titles__div">
                    <h1 class="content-board-of-directors">Darwin Board of Directors</h1>
                </div>

                <div class="flex-container-employee__info_box">
                    <div class="flex-container-employee__info_img">
                        <img src="../images/Michael-Petterson.jpg" alt="Michael Petterson" class="content-employee__image">
                    </div>
                    <div class="flex-container-employee__info">
                        <h1 class="content-employee__name">Michael Petterson</h1>
                        <h2 class="content-employee__position">Deputy Chairperson</h2>
                    </div>
                    <div class="flex-container-employee__report">
                        <p>Michael is of Aboriginal/Torres Strait Islander descent. Michael has lived in Darwin most of his life and has worked in various
                            Government departments including Department of Justice, Family Court of Australia and is currently employed by the Northern
                            Territory Legal Aid Commission as an Indigenous Community Liaison worker.</p>
                    </div>
                </div>

                <div class="flex-container-employee__info_box">
                    <div class="flex-container-employee__info_img">
                        <img src="../images/Hannah-Roe.jpg" alt="Hannah Roe" class="content-employee__image">
                    </div>
                    <div class="flex-container-employee__info">
                        <h1 class="content-employee__name">Hannah Roe</h1>
                        <h2 class="content-employee__position">Secretary</h2>
                    </div>
                    <div class="flex-container-employee__report">
                        <p>Hannah Roe is of Yawuru descent. She graduated in 2002 with a Bachelor of Laws with honours from the Northern Territory University
                            and was admitted to legal practice in the Supreme Court of the Northern Territory in 2004 and is currently working for
                            the Office of the Registrar of Indigenous Corporations (ORIC).</p>
                    </div>
                </div>

                <div class="flex-container-employee__info_box">
                    <div class="flex-container-employee__info_img">
                        <img src="../images/Colleen-Rosas.jpg" alt="Colleen Rosas" class="content-employee__image">
                    </div>
                    <div class="flex-container-employee__info">
                        <h1 class="content-employee__name">Colleen Rosas</h1>
                        <h2 class="content-employee__position">Public Officer</h2>
                    </div>
                    <div class="flex-container-employee__report">
                        <p>Colleen Rosas has lived in the Northern Territory for nearly 40 years and was originally from Cairns, North Queensland. Colleen
                            is a descendant of the Gudjula nation. Her employment history has been across a range of areas including Aboriginal education
                            and the criminal justice area. She currently manages the Northern Territory Aboriginal Interpreter Service.
                        </p>
                    </div>
                </div>

                <div class="flex-container-employee__info_box">
                    <div class="flex-container-employee__info_img">
                        <img src="../images/Joel-Mclennan.jpg" alt="Joel Mclennan" class="content-employee__image">
                    </div>
                    <div class="flex-container-employee__info">
                        <h1 class="content-employee__name">Joel Mclennan</h1>
                        <h2 class="content-employee__position">Director</h2>
                    </div>
                    <div class="flex-container-employee__report">
                        <p>Joel is from the Larrakia clan in Darwin. Joel has extensive experience in Correctional Services, extending 13 years. Joel
                            is active in working with Indigenous people to address their social and economic needs.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--FOOTER-->
    <footer class="main-footer">
        <div class="flex-main-footer__sections">
            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-one">
                    <h1 class="main-footer__title">North Australian Aboriginal Justice Agency</h1>
                    <p class="main-footer__description">NAAJA is contracted by the Commonwealth Attorney General’s Department (AGD) to provide Criminal and Civil
                        Law services to Aboriginal people and their families in the Northern Territory.</p>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-two">
                    <h1 class="main-footer__title">Call Us</h1>
                    <ul class="main-footer__lists sec-two__lists">
                        <li class="main-footer__list">Darwin: 1800 898 251</li>
                        <li class="main-footer__list">Darwin Custody: 0410 633 261</li>
                        <li class="main-footer__list">Throughcare: 1800 321 201</li>
                        <li class="main-footer__list">Katherine: 1800 897 728</li>
                        <li class="main-footer__list">0407 612 426</li>
                        <li class="main-footer__list">Alice Springs: 1800 636 079</li>
                    </ul>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-three">
                    <h1 class="main-footer__title">Connect</h1>
                    <ul class="main-footer__lists sec-three__lists">
                        <li class="main-footer__list3 Blog">
                            <a href="https://www.blogger.com/"
target="_blank">Blog</a>
                        </li>
                        <li class="main-footer__list3 Facebook">
                            <a href="https://www.facebook.com/"
target="_blank">Facebook</a>
                        </li>
                        <li class="main-footer__list3 Google">
                            <a href="https://plus.google.com/"
target="_blank">Google+</a>
                        </li>
                        <li class="main-footer__list3 RSS">
                            <a href="#">RSS</a>
                        </li>
                        <li class="main-footer__list3 Twitter">
                            <a href="https://twitter.com/?lang=en"
target="_blank">Twitter</a>
                        </li>
                        <li class="main-footer__list3 YouTube">
                            <a href="https://youtube.com/"
target="_blank">YouTube</a>
                        </li>
                    </ul
                </section>
                </section>
            </div>

        </div>
    </footer>

    <script src="../Js/shared.js"></script>
</body>

</html>
