<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/naaja-icon.png">
    <title>North Australian Aboriginal Justice Agency (NAAJA)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/shared.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/main.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/GetInvolved.css" />
    
<!--    <link type="text/css" rel="stylesheet" href="path-to-fontawesome/font-awesome.css">-->

</head>


<body>
    <div class="background"></div>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <div class="brand">
            <a href="../index.html" class="main-header__brand">
                <img src="../images/naaja-icon.png" alt="NAAJA"> NAAJA
            </a>
        </div>

        <!--NAVIGATION-->
        <!-- DESKTOP NAV -->
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="../Templates/LegalService.html">Legal Service</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/Programs.html">Programs</a>
                </li>
                <li class="main-nav__item">
                    <a href="GetInvolved.html" class="main-nav__item--cta">Get Involved</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/AboutUs.html">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- MOBILE NAV -->
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="../Templates/LegalService.html">Legal Service</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/Programs.html">Programs</a>
            </li>
            <li class="mobile-nav__item">
                <a href="GetInvolved.html" class="mobile-nav__item--cta">Get Involved</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/AboutUs.html">About Us</a>
            </li>
        </ul>
    </nav>
    
     <section class="imagedisplay">
        <div>
            <h1 class="imagedisplay__title">
                North Australian Aboriginal Justice Agency
            </h1>
        </div>
    </section>


   
    <section>
        <main id="getinvolved-content">
        <h1 class="content__header">Get Involved</h1>
        <div class="getinvolved-content__header">
            <div class="row">
                <div class="column-3 column-left">
                    <img src="../images/involved_1.PNG">
                </div>

                <div class="column-9 column-left">
                    <h2>VOLUNTEERING, INTERNS AND GRADUATE DIPLOMA IN LEGAL PRACTICE (GDLP)</h2>
                    <p>NAAJA is able to offer volunteer and intern placements to law students and graduates looking to gain paralegal experience in our Criminal, Civil and Law and Justice Projects Teams and in office locations across the Territory.</p>
                    
                    <p>We ask that volunteers commit to at least one month with NAAJA as shorter placements do not allow enough time for you to gain useful experience and contribute meaningfully to our work.
                    </p>



                    <ul>
                        <li>In the criminal section, volunteers are exposed to a busy practice and will work with dedicated and experiences lawyers across a diverse range of matters including in the Local Court, Supreme Court and with bush Courts.</li>
                        <li>Working with the civil section will expose volunteers to a wide variety of work including housing, statutory compensation schemes, child protection, welfare rights, police and healthcare complaints and adult guardianship.</li>
                      
                    </ul>
                    
                    <p>Volunteers may have the chance to travel one of the many remote communities serviced by NAAJA to assist with a ‘bush’ or circuit court, remote civil advice clinic, or community legal education session.  Whilst we cannot guarantee this is possible we identify the value this has for volunteers and encourage the practice where we can.</p>
                    
                    <p>For law students seeking a placement during semester breaks, we encourage you to apply to the <a href="http://auroraproject.com.au/">Aurora Project</a>. NAAJA has a longstanding partnership with the Aurora Project and gives priority to students with their program.</p>
                    
                    <a href="" class="contentMoreLink">Read More &rArr;</a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="column-3 column-left">
                    <img src="../images/involved_2.PNG">
                </div>

                <div class="column-9 column-left">
                    <h2>EXPRESSION OF INTEREST</h2>
                    
                    <p>To express interest, please complete and submit the following EOI form:</p>
                    <P><a href="http://www.naaja.org.au/wp-content/uploads/2018/01/Expression-of-Interest-Form.pdf">Expression of Interest Form</a> </P>
                    <p>Call us on freecall 1800 898 251 or contact our Darwin Office on (08) 8982 5100 or email an expression of interest form to intern@naaja.org.au.</p>
                    
                    
                </div>
                <div class="clearfix"></div>
            </div>     
            
<!--            -->
            <div class="clearfix"></div>
        </div>
        </main>
    </section>


    <!--FOOTER-->
    <footer class="main-footer">
        <div class="flex-main-footer__sections">
            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-one">
                    <h1 class="main-footer__title">North Australian Aboriginal Justice Agency</h1>
                    <p class="main-footer__description">NAAJA is contracted by the Commonwealth Attorney General’s Department (AGD) to provide Criminal and Civil
                        Law services to Aboriginal people and their families in the Northern Territory.</p>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-two">
                    <h1 class="main-footer__title">Call Us</h1>
                    <ul class="main-footer__lists sec-two__lists">
                        <li class="main-footer__list">Darwin: 1800 898 251</li>
                        <li class="main-footer__list">Darwin Custody: 0410 633 261</li>
                        <li class="main-footer__list">Throughcare: 1800 321 201</li>
                        <li class="main-footer__list">Katherine: 1800 897 728</li>
                        <li class="main-footer__list">0407 612 426</li>
                        <li class="main-footer__list">Alice Springs: 1800 636 079</li>
                    </ul>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-three">
                    <h1 class="main-footer__title">Connect</h1>
                    <ul class="main-footer__lists sec-three__lists">
                        <li class="main-footer__list3 Blog">
                            <a href="#">Blog</a>
                        </li>
                        <li class="main-footer__list3 Facebook">
                            <a href="#">Facebook</a>
                        </li>
                        <li class="main-footer__list3 Google">
                            <a href="#">Google+</a>
                        </li>
                        <li class="main-footer__list3 RSS">
                            <a href="#">RSS</a>
                        </li>
                        <li class="main-footer__list3 Twitter">
                            <a href="#">Twitter</a>
                        </li>
                        <li class="main-footer__list3 YouTube">
                            <a href="#">YouTube</a>
                        </li>
                    </ul>
                
                </section>
            </div>

        </div>
    </footer>

    <script src="../Js/shared.js"></script>
</body>

</html>
