<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/naaja-icon.png">
    <title>North Australian Aboriginal Justice Agency (NAAJA)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/shared.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/LegalService.css" />
    <link type="text/css" rel="stylesheet" href="path-to-fontawesome/font-awesome.css">

</head>


<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <div class="brand">
            <a href="../index.html" class="main-header__brand">
                <img src="../images/naaja-icon.png" alt="NAAJA"> NAAJA
            </a>
        </div>

        <!--NAVIGATION-->
        <!-- DESKTOP NAV -->
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="LegalService.html" class="main-nav__item--cta">Legal Service</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/Programs.html">Programs</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/GetInvolved.html">Get Involved</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/AboutUs.html">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- MOBILE NAV -->
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="LegalService.html" class="mobile-nav__item--cta">Legal Service</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/Programs.html">Programs</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/GetInvolved.html">Get Involved</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/AboutUs.html">About Us</a>
            </li>
        </ul>
    </nav>

<section>
    <main id="legalservice-content">
        <h1 class="legalservice-content__header">Legal Services</h1>

                <h2 class="legalservice-content__header">CRIMINAL LAW</h2>
 
                <p>NAAJA has the largest criminal law practice in the Northern Territory with offices in Darwin, Katherine, Tennant Creek and Alice Springs. NAAJA’s criminal law section consists of dedicated and passionate lawyers and highly professional Aboriginal paralegal staff.</p>

                <h3 class="legalservice-content__header">OUR CRIMINAL LAW PRACTICE REPRESENTS CLIENTS</h3>
                <ul>
                    <li>On criminal charges in the Youth Justice Court, Court of Summary Jurisdiction (Local Court), and Supreme Court;</li>
                    <li>The Court of Criminal Appeal; and</li>
                    <li>In some circumstances, the High Court of Australia.</li>
                </ul>
                
                <h3 class="legalservice-content__header">NAAJA ATTENDS BUSH COURTS IN:</h3>
                <ul>
                    <li>Darwin Region – Milikapiti (Snake Bay), Nguiu, Maningrida, Oenpelli (Gumbalanya), Jabiru, Daly River and Wadeye (Port Keats).</li>
                    <li>Katherine Region – Barunga, Ngukurr, Timber Creek, Borroloola, Kalgarindji and Lajamanu.</li>
                    <li>Central Australia – Tennant Creek, Hermannsburg, Papunya, Yuendumu, Mutitjulu, Kintore, Ali-Curung, Docker River, Elliot</li> 
                </ul class="legalservice-content__header">
                
                <h3 class="legalservice-content__header">WE ALSO PROVIDE:</h3>
                <ul>
                    <li>Legal advice over the phone or face to face about criminal charges or police investigations; and</li>
                    <li>24 hour legal advice when people are arrested or taken into police custody. If you get picked up by police you can ask them for the after-hours telephone number and speak to a solicitor.</li>
                </ul>
                
                <h3 class="legalservice-content__header">NAAJA ALSO PROVIDES SPECIALISED SERVICES FOR VULNERABLE PERSONS INCLUDING:</h3>
                <ul>
                    <li>Young people</li>
                    <li>Defendants with mental health issues and other disabilities</li>
                </ul>
                
                <h3 class="legalservice-content__header">WE STRIVE TO:</h3>
                <ul>
                    <li>Provide a culturally relevant legal service to Aboriginal people of the Northern Territory;</li>
                    <li>Assist clients with interpreters in their language; and</li>
                    <li>Advocate for change to laws, programs, policies that affect Aboriginal people in the criminal justice system.</li>
                </ul>
                
                
                
                

            </section>
    
    


    <!--FOOTER-->
 


    <!--FOOTER-->
    <footer class="main-footer">
        <div class="flex-main-footer__sections">
            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-one">
                    <h1 class="main-footer__title">North Australian Aboriginal Justice Agency</h1>
                    <p class="main-footer__description">NAAJA is contracted by the Commonwealth Attorney General’s Department (AGD) to provide Criminal and Civil
                        Law services to Aboriginal people and their families in the Northern Territory.</p>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-two">
                    <h1 class="main-footer__title">Call Us</h1>
                    <ul class="main-footer__lists sec-two__lists">
                        <li class="main-footer__list">Darwin: 1800 898 251</li>
                        <li class="main-footer__list">Darwin Custody: 0410 633 261</li>
                        <li class="main-footer__list">Throughcare: 1800 321 201</li>
                        <li class="main-footer__list">Katherine: 1800 897 728</li>
                        <li class="main-footer__list">0407 612 426</li>
                        <li class="main-footer__list">Alice Springs: 1800 636 079</li>
                    </ul>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-three">
                    <h1 class="main-footer__title">Connect</h1>
                    <ul class="main-footer__lists sec-three__lists">
                        <li class="main-footer__list3 Blog">
                            <a href="#">Blog</a>
                        </li>
                        <li class="main-footer__list3 Facebook">
                            <a href="#">Facebook</a>
                        </li>
                        <li class="main-footer__list3 Google">
                            <a href="#">Google+</a>
                        </li>
                        <li class="main-footer__list3 RSS">
                            <a href="#">RSS</a>
                        </li>
                        <li class="main-footer__list3 Twitter">
                            <a href="#">Twitter</a>
                        </li>
                        <li class="main-footer__list3 YouTube">
                            <a href="#">YouTube</a>
                        </li>
                    </ul>
                </section>
                </section>
            </div>

        </div>
    </footer>

    <script src="../Js/shared.js"></script>
</body>

</html>
