<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/naaja-icon.png">
    <title>North Australian Aboriginal Justice Agency (NAAJA)</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/shared.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/Programs.css" />
    <!-- <link type="text/css" rel="stylesheet" href="path-to-fontawesome/font-awesome.css"> -->

</head>


<body>
    <div class="background"></div>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <div class="brand">
            <a href="../index.html" class="main-header__brand">
                <img src="../images/naaja-icon.png" alt="NAAJA"> NAAJA
            </a>
        </div>

        <!--NAVIGATION-->
        <!-- DESKTOP NAV -->
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="../Templates/LegalService.html">Legal Service</a>
                </li>
                <li class="main-nav__item">
                    <a href="Programs.html" class="main-nav__item--cta">Programs</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/GetInvolved.html">Get Involved</a>
                </li>
                <li class="main-nav__item">
                    <a href="../Templates/AboutUs.html">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- MOBILE NAV -->
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="../Templates/LegalService.html">Legal Service</a>
            </li>
            <li class="mobile-nav__item">
                <a href="Programs.html" class="mobile-nav__item--cta">Programs</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/GetInvolved.html">Get Involved</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../Templates/AboutUs.html">About Us</a>
            </li>
        </ul>
    </nav>

    <section class="imagedisplay">
        <div>
            <h1 class="imagedisplay__title">
                North Australian Aboriginal Justice Agency
            </h1>
        </div>
    </section>

    <section>
        <main id="programs-content">
        <h1 class="content__header">Programs</h1>
             <div class="program-content__header">
                
                <div class="row">
                    <div class="column-3 column-left">
                        <img src="../images/program-through-care.PNG">
                    </div>

                    <div class="column-9 column-left">
                        <h2>THROUGHCARE PROGRAM</h2>
                        <p>NAAJA’s Throughcare Program started in 2009 and is proudly funded by the Department of the Prime Minister and Cabinet.NAAJA’s Throughcare Program started in 2009 and is proudly funded by the Department of the Prime Minister and Cabinet.We aim to reduce repeat offending by addressing the ‘throughcare’ needs of adult prisoners and youth detainees.</p>

                        <h3>PRISON-BASED THROUGHCARE</h3>
                        <p>We have two Prison-based Throughcare Support Workers based at the Darwin Correctional Centre (DCC). They help people at the DCC, as well as children and young people at the Don Dale Youth Detention Centre (Don Dale).</p>

                        <p>The job of the Prison-based Throughcare Support Workers includes:</p>

                        <ul>
                            <li>talking to people in prison and youth detention, their families and communities about parole;</li>
                            <li>helping people in prison and youth detention get parole by encouraging them to think about why they got into trouble;</li>
                            
                        </ul>
                        
                        <h3>INTENSIVE CASE MANAGEMENT</h3>
                        <p>We provide strength-based case management and referral services to help people access the support and services. For example, we can help them with:</p>

                        

                        <ul>
                            <li>Ongoing rehabilitation</li>
                            <li>Accomodation</li>
                            <li>Education and training</li>
                            <li>Health</li>
                            
                        </ul>
                        
                        <h3>ELIGIBILITY</h3>
                        <p>Our Program is voluntary and we work with people who are ready to make positive changes in their lives. We also work with people who have high needs, including:</p>

                        

                        <ul>
                            <li>Homelessness or marginal accommodation,</li>
                            <li>No income, disengagement from Centrelink, or unstable income,</li>
                            <li>Literacy and numeracy issues, and/or English as second, third or fourth language,</li>
                            
                        </ul>
                        
                        
                        
                        <a href="../PDF/THROUGHCARE%20PROGRAM.pdf" target="_blank" class="contentMoreLink">Read More &rArr;</a>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>


                <!-- new row for new section -->
                <div class="row">
                    <div class="column-3 column-left">
                        <img src="../images/programs_2.jpg">
                    </div>

                    <div class="column-9 column-left">
                        <h2>STUDENT COURT</h2>
                        <p>Student Court- A Youth Diversion Project in Schools</p>
                        <p>Student Court is a diversionary restorative justice program for students at schools who have committed minor offences on school grounds. It is funded by the Law Society Public Purposes Trust and is the first of its kind in Australia. Participants waive their right to be suspended from school or referred to the police (and subsequently Children’s Court) and agree to plead guilty to agreed facts and have the case heard and determined by their peers who are trained Student Court students in years 9, 10 and 11 from participating schools. </p>
                        

                        <h3>The Pilot Program in 2015 to 2016</h3>
                        <p>Student Court was a successful pilot program in 2015 and 2016 when it was known as “Peer Panel”. It was funded by the Law Society Public Purposes Trust. The program showed that in the right environment, students have maturity and are able to display life skills that surprised and impressed even experienced observers. </p>

                        <h3>Student Court in 2018 and Beyond</h3>
                        <p>he Law Society Public Purposes Trust have generously re-funded the program in 2018 to enable it to continue in 2 schools in Darwin and to make a real difference to the lives of young people in the Northern Territory. NAAJA is making approaches for funding to secure a 3 year, sustainable program to build capacity and extend the program’s reach. It is hoped that Student Court can be held in more schools in Darwin, Palmerston, Katherine, Alice Springs and in communities thorough the Northern Territory.</p>
                        
                        <a href="../PDF/STUDENT%20COURT.pdf" target="_blank" class="contentMoreLink">Read More &rArr;</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                 
                <div class="row">
                    <div class="column-3 column-left">
                        <img src="../images/programs_3.PNG">
                    </div>

                    <div class="column-9 column-left">
                        <h2>COMMUNITY LEGAL</h2>
                        <H3>COMMUNITY LEGAL EDUCATION TRAINING AND PROJECTS</H3>
                        <p>NAAJA provides a range of legal education and training programs designed to help Aboriginal Territorians and communities develop an increased understanding and capacity to interact and engage with the mainstream legal system. These programs include a pre-release  program at the prison, a public speaking project at the youth detention centre, various education sessions at men’s and women’s safehouses in remote and urban communities, the Department of Justice’s Indigenous Family Violence Offender program, youth-focused culture camps, rehabilitation centres and various government and community organisations across the top end.NAAJA provides a range of legal education and training programs designed to help Aboriginal Territorians and communities develop an increased understanding and capacity to interact and engage with the mainstream legal system. </p>

                        <h4>NAAJA regularly delivers education on a range of topics including:</h4>

                        <ul>
                          <li>How laws are made, parliamentary democracy and the seperation of power</li>
                            <li>the criminal justice system</li>
                            <li>interacting well with police</li>
                            <li>domestic violence orders</li>
                            <li>compensation for victims of crime</li>
                            <li>police misconduct</li>
                            <li>child protection</li>
                        </ul>
                        
                        <p>We have developed a range of legal and cross cultural communication resources and training to support NAAJA staff to continue to deliver high quality, specialist legal services to Aboriginal people and communities across the top end.If you are interested in speaking to us about community legal education programs that we could provide to your service, organisation or community, please contact us on (08) 8982 5100 or email cle@naaja.org.au.</p>
                        
                        <a href="../PDF/COMMUNITY%20LEGAL%20EDUCATION%20TRAINING%20AND%20PROJECTS.pdf" target="_blank" class="contentMoreLink">Read More &rArr;</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                 
                 
                 <div class="row">
                    <div class="column-3 column-left">
                        <img src="../images/programs_4.PNG">
                    </div>

                    <div class="column-9 column-left">
                        <h2>CULTURAL COMPETENCY FRAMEWORK</h2>
                        <p>A key differentiator of NAAJA in our service delivery model is the emphasis, value and priority we place on developing cultural competency.  We take this work seriously because Aboriginal people across the Northern Territory tell us how important this work is to them.</p>
                        <p>We understand that, as an organisation, if we are to say we are culturally appropriate then we must make a meaningful commitment to developing cultural competency.  We must integrate this across our practice and be accountable.  We set ourselves a high standard in our commitment to developing cultural competency and put ourselves forward as a unique and distinct service working with Aboriginal people in this context. </p>
                        <p>We are a culturally appropriate organisation because we make a meaningful commitment to developing cultural competency, and because:</p>

                

                        <ul>
                            <li>We are managed and led by an Aboriginal board</li>
                            <li>Aboriginal people serve senior roles across our practice and key roles across our workforce</li>
                            <li>We provide a quality education and professional development program for staff</li>
                            <li>We integrate learnings in cultural competency across our practice</li>
                            
                        </ul>
                        
                        <p>The ‘Cultural Competency Framework 2017 – 2020’ outlines NAAJA’s approach to developing and integrating best practice cultural competency across our services for Aboriginal people in the Top End of the Northern Territory.</p><a href="../PDF/Summary_NAAJA-Cultural-Compenency-2017-to-2020.pdf" target="_blank" class="contentMoreLink">Summary NAAJA Cultural Competency 2017 to 2020</a>
                        
                        <p>The following principles guide our work in aspiring to be cultural competent:</p>
                        
                        <ul>
                            <li>We value the importance of being genuine and authentic in this space, and have mechanisms across our practice to be accountable.</li>
                            <li>The cultural landscape in the NT is rich and diverse and we value this diversity.</li>
                            <li>We seek to be trauma-informed and embed these practices across our work.</li>
                            
                        </ul>
                        <a href="../PDF/CULTURAL%20COMPETENCY%20FRAMEWORK.pdf" target="_blank" class="contentMoreLink">Read More &rArr;</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                 

                <div class="clearfix"></div>
            </div>
        </main>
    </section>



    <!--FOOTER-->
    <footer class="main-footer">
        <div class="flex-main-footer__sections">
            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-one">
                    <h1 class="main-footer__title">North Australian Aboriginal Justice Agency</h1>
                    <p font-size="15px" class="main-footer__description">NAAJA is contracted by the Commonwealth Attorney General’s Department (AGD) to provide Criminal and Civil
                        Law services to Aboriginal people and their families in the Northern Territory.</p>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-two">
                    <h1 class="main-footer__title">Call Us</h1>
                    <ul class="main-footer__lists sec-two__lists">
                        <li class="main-footer__list">Darwin: 1800 898 251</li>
                        <li class="main-footer__list">Darwin Custody: 0410 633 261</li>
                        <li class="main-footer__list">Throughcare: 1800 321 201</li>
                        <li class="main-footer__list">Katherine: 1800 897 728</li>
                        <li class="main-footer__list">0407 612 426</li>
                        <li class="main-footer__list">Alice Springs: 1800 636 079</li>
                    </ul>
                </section>
            </div>

            <div class="flex-main-footer__section">
                <section class="main-footer__section sec-three">
                    <h1 class="main-footer__title">Connect</h1>
                    <ul class="main-footer__lists sec-three__lists">
                        <li class="main-footer__list3 Blog">
                            <a href="https://www.blogger.com/" target="_blank">Blog</a>
                        </li>
                        <li class="main-footer__list3 Facebook">
                            <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                        </li>
                        <li class="main-footer__list3 Google">
                            <a href="https://plus.google.com/" target="_blank">Google+</a>
                        </li>
                        <li class="main-footer__list3 RSS">
                            <a href="#">RSS</a>
                        </li>
                        <li class="main-footer__list3 Twitter">
                            <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
                        </li>
                        <li class="main-footer__list3 YouTube">
                            <a href="https://youtube.com/" target="_blank">YouTube</a>
                        </li>
                    </ul>
                </section>
                
            </div>

        </div>
    
    </footer>

    
<script src="../Js/shared.js"></script>
</body>

</html>
